#grid-container{
    height: 600px;
    width: 80vw;
    background-color: brown;
}

#grid-container{
height: 600px;
width: 80vh;
background-color: aqua;
display: grid;
grid-template-columns: 100px 100px 100px 100px 100px;
grid-template-rows: 200px 200px 200px; 
/* row-gap :10px;
column-gap: 50px; */
gap:20px;
}
.grid-items{
    /* height: 100px;
    width: 100px; */
    background-color: yellow;
    border:5px double blue;
}
#item1{
grid-column-start: 1;
grid-column-end: 6;
}
#item2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#item7{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
