body{
    background-image:white;
    background-repeat:no-repeat;
    background-size: 200px 200px;
}
#circle {
background: #f00;
width: 50px;
height: 50px;
border-radius: 50%;
    display: block;
    margin-left: auto;
margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}
div {
border:1px solid black;
box-shadow: 10px 10px 5px grey;
width: 800px;
margin-left:auto;
margin-right:auto;
background-color:white;
}
#two{
float:right;
margin-right:510px;
margin-top:-100px;
}
img{
float:right;
margin-right:475px;
margin-top:-500px;
}